<%= form_for @article do |f| %>
  <div>
    
      <%= f.collection_select Location.order(:name),:location_id,:name, include_blank: true %>
  
  </div>
  <div>
    <%= f.text_field :title, placeholder: "title" %>
  </div>
  <div>
    <%= f.text_field :content, :cols => "10", :rows => "10", placeholder: "content"  %>
  </div>

  
  <%= f.submit "Create new article" %>
<% end %>