<div class="container">

  <div class="card horizontal">
    <div class="card-image">
      <a href="<%= user_path(@article.user) %>">
         <%= cl_image_tag(@article.user.image, :height => 100, :crop => :thumb, :gravity => :face) %>
     </a>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <a href="<%= user_path(@article.user) %>"><p class="truncate"><h4><%= @article.user.first_name %> wrote...</h4></p></a>
      </div>
    </div>
  </div>
  <div class="col s12 m7">
    <h2 class="header"><%= @article.title %></h2>
    <div class="card horizontal">
      <div class="card-image valign-wrapper">
        <%= cl_image_tag(@article.location.image, :width => 100, :crop => :thumb, :gravity => :face) %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <a href="<%= user_path(@article.user) %>"><p class="truncate"><h4><%= @article.user.first_name %> wrote...</h4></p></a>
        </div>
      </div>
    </div>
    <div class="col l8">
      <h2 class="header"><%= @article.title %></h2>
      <div>
        <div class="card-image">
          <img src="<%= @article.location.image %>">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h6><%= @article.created_at.strftime("%B %d, %Y") %> - <%= @article.location.name %><% if current_user && current_user.id == @article.user.id %>
            <%= link_to 'mode_edit', edit_article_path(@article), class: "right material-icons" %>
            <% end %></h6>
            <hr>
            <p><%= @article.content %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

