<h3>Welcome to your Profile Page, <%= @user.first_name %></h3>

<div class="picture">
  <%= @user.image %>
</div>

<div class="info">
  <ul>
    <li>Name:</li>
    <li><%= @user.first_name %> <%= @user.last_name %></li>
  </ul>
  <ul>
    <li>Date Joined:</li>
    <li><%= @user.created_at %></li>
  </ul>
  <ul>
    <li>Current City:</li>
    <li><%= @user.city %></li>
  </ul>
</div>

<div class="articles">
  <ul>
    <% @user.articles.each do |article| %>
      <li><%= article.title %></li>
      <li><%= article.content %></li>
    <% end %>
  </ul>
</div>