<div class="row">
  <div class="col s12 m4">
    <div class="container">
      <% if current_user && current_user.id.to_s === params[:id].to_s %>
      <h4>Welcome, <%= @user.first_name %></h4>
      <% else %>
      <h4><%= @user.first_name %></h4>
      <% end %>
    </div>
    <div class="container">
      <img class="responsive-img" src="<%= @user.image %>">
      <ul>
        <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
      </ul>
      <ul>
        <li>Date Joined: <%= @user.created_at.strftime("%B %d, %Y")%></li>
      </ul>
      <ul>
        <li>Current City: <%= @user.city %></li>
      </ul>
      <div class="center">
        <% if current_user && current_user.id.to_s === params[:id].to_s %>
          <%= button_to "Edit", edit_user_registration_path , method: "get", class: "waves-effect waves-light btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col s12 m8">
    <% if current_user && current_user.id.to_s === params[:id].to_s %>
      <h4 class="center">Your Posts</h4>
    <% else %>
      <h4 class="center"><%= @user.first_name %>'s Posts</h4>
    <% end %>
    <% @user.articles.each do |article| %>
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= article.user.image %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="truncate"><%= article.content %></p>
        </div>
        <div class="card-action">
          <%= link_to "Read More!", article_path(article) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
