<div class="container">

  <div class="row">
    <div class="col s12 m6">
      <h4><%= @user.first_name %></h4>
       <div class="picture">
          <%= cl_image_tag(@user.image, :height => 200, :crop => :thumb, :gravity => :face) %>
      </div>
      <ul>
        <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
      </ul>
      <ul>
        <li>Date Joined: <%= @user.created_at.strftime("%B %d, %Y")%></li>
      </ul>
      <ul>
        <li>Current City: <%= @user.city %></li>
      </ul>
      <ul>
        <li>Bio: <%= @user.bio %></li>
      </ul>
      <div class="center">
        <% if current_user  %>
        <%= button_to "Edit", edit_user_registration_path , method: "get", class: "left waves-effect waves-light btn" %>
        <% end %>
      </div>
    </div>
    <div class="col s12 m6">
      <% if current_user && current_user.id.to_s === params[:id].to_s %>
      <h4 class="center">Your Posts</h4>
      <% else %>
      <h4 class="center"><%= @user.first_name %>'s Posts</h4>
      <% end %>

      <% @user.articles.each do |article| %>
      <div class="card horizontal">
        <div class="card-image valign-wrapper">
          <%= cl_image_tag(article.location.image, :width => 100, :crop => :thumb, :gravity => :face) %>
        </div>
        <div class="card-stacked">

          <span class="card-title"><%= article.title %> - <%= article.location.name%>
          <% if current_user && current_user.id == article.user.id %>
          <%= link_to 'mode_edit', edit_article_path(article), class: "right material-icons" %>
          <% end %>
          </span>
          <div class="card-content">
            <p><%= truncate(article.content, length: 75, separator: ' ')  %></p>
          </div>
          <div class="card-action">
            <%= link_to "Read More!", article_path(article) %>
            <!-- <div class="col l1 push-l10"> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
