<div class="slider valign-wrapper">
  <ul class="slides">
    <li>
      <img src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/SanFrancisco_0.jpg">
      <div class="caption center-align">
        <h3>Let us guide you...</h3>
      </div>
    </li>
    <li>
      <img src="http://www.homewoodsuitesseattle.com/img/home/hotel-near-seattle-space-needle.jpg">
      <div class="caption right-align">
        <h3>Welcome to Vagabon</h3>
        <h5 class="light grey-text text-lighten-3">Your adventure awaits.</h5>
      </div>
    </li>
  </ul>
</div>


<div class="row">
  <div class="col s12 m10 offset-m1">
    <h4 class="center">Featured City</h4>
    <% @locations.each do |location| %>
      <div class="city-card card horizontal valign-wrapper">
        <div class="card-image waves-effect waves-block waves-light col m6">
          <a href="<%= city_path(location) %>">
            <img src="<%= location.image %>">
          </a>
        </div>
        <!-- <div class="card"> -->
          <div class="card-content col m6">
              <h3 class="card-title"><%= location.name %></h3>
              <p><%= location.about %></p>
              <br>
              <div class="center">
              <%= button_to "Find More #{location.name} Articles!", city_path(location), method: "get", class: "waves-effect waves-light btn" %>
              </div>
          </div>
      </div>
          <div class="card">
            <% if location.articles.length >= 3 %>
              <% location.articles.each do |article| %>
                <div class="post-card card-panel medium col m4">
                  <h4 class="card-title"><b><%= article.title %></b></h4>
                  <p class="card-content"><%= truncate(article.content, length: 75, separator: ' ')  %> <%= link_to "read more", article_path(article) %></p>
                </div>
                <% end %>
              <% elsif location.articles.length == 2 %>
                <% location.articles.each do |article| %>
                  <div class="post-card card-panel medium col m6">
                    <h4 class="card-title"><b><%= article.title %></b></h4>
                    <p class="card-content"><%= truncate(article.content, length: 225, separator: ' ')  %> <%= link_to "read more", article_path(article) %></p>
                  </div>
                <% end %>
              <% elsif location.articles.length == 1 %>
                <% location.articles.each do |article| %>
                  <div class="post-card card-panel medium col m12">
                    <h4 class="card-title"><b><%= article.title %></b></h4>
                    <p class="card-content"><%= truncate(article.content, length: 300, separator: ' ')  %> <%= link_to "read more", article_path(article) %></p>
                  </div>
                <% end %>
            <% end %>

          </div>
        <!-- </div> -->
    <% end %>
    <div class="center">
      <%= button_to "See All Cities", cities_path , method: "get", class: "waves-effect waves-light btn" %>
    </div>
  </div>
  <div class="col s12 m4">

  </div>

  <div class="col s12 m4">

  </div>
</div>
