<div class= "container">
  <br>
  <%= render_crumbs separator: ' >> '%>
  <h1 class="center">Cities</h1>
</div>
<div class="container">
  <% @cities.each_slice(3) do |grouping| %>
  <div class="row">
    <% grouping.each do |city| %>
      <div class="col m4">
        <div class="card small city-card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%= city.image %>">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= city.name %><i class="material-icons right">more_vert</i></span>
            <p><%= link_to "Check out posts!", city_path(city) %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= city.name %><i class="material-icons right">close</i></span>
            <p><%= city.about %></p>
            <p><%= link_to "Check out posts!", city_path(city) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
