<div class="container">
  <div class="row">
    <h1><%= @city.name %></h1>
    <div class="col s12 m4">
      <img class="responsive-img" src="<%= @city.image %>">
      <p>State: <%= @city.state %></p>
      <p>Country: <%= @city.country %></p>
    </div>

    <div class="col s12 m8">
      <% @city.articles.each do |article| %>
      <div class="card horizontal">
        <div class="card-image">
          <img src="<%= article.user.image %>">
        </div>
        <div class="card-stacked">
          <span class="card-title"><%= article.title %></span>
          <div class="card-content">
            <p><%= truncate(article.content, length: 75, separator: ' ')  %></p>
          </div>
          <div class="card-action">
            <%= link_to "Read More!", article_path(article) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
